<!DOCTYPE html>
<html lang="en">
<head>
  <title>Display Students</title>
  <meta charset="utf-8">
 <!--- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Students Enrolled</h1>
<div class="container">
<div class="table-responsive">
<br/>
<table id="student_table" class="table table-bordered table-striped">
			<tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
				<th>ID</th>
            </tr>
</table>
</div>
</div>
</body>
<script>
    $( document ).ready(function(){
	$.getJSON('file.json', function(data){
	var student_data = '';
	$.each(data, function(key,value){
	student_data += '<tr>';
	student_data += '<td>' + value.address + '</td>';
	student_data += '<td>' + value.id + '</td>';
	student_data += '<td>' + value.age + '</td>';
	student_data += '<td>' + value.gender + '</td>';
	student_data += '<td>' + value.name + '</td>';
	student_data += '<td>' + value.phone + '</td>';
	student_data += '</tr>';
	});
	$('#student_table').append(student_data);
	});
	});
</script>
</body>
</html>